@font-face {
font-family: 'Inlanders Demo';
src: url('../public/Inlanders Demo.otf') format('truetype');
}
iframe{
  display: block;
  margin: auto;
}
.leaderBoardSwitch{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.leaderBoardSwitch button{
  border: none;
  background: none;
  color: #255748;
  font-size: 30px;
  font-family: "Inlanders Demo";
}
.leaderBoardSwitch button:hover{
  color: #0a3a2c;
  font-size: 32px;
}
.center {
  margin-top: 50px;
}
.social{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}
a{
  font-size: 50px;
  color: #255748;
  font-family: "Inlanders Demo";
}
a:hover{
  color: #0a3a2c;
}
.top3 {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #4b4168;
}
.top3 .item {
  background: #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0 4rem 0 rgb(0 0 0 / 10%), 0 1rem 2rem -1rem rgb(0 0 0 / 30%);
  box-sizing: border-box;
  cursor: pointer;
  height: 17rem;
  margin: 1rem 1rem 2rem;
  padding: 2.8rem 0 0;
  position: relative;
  text-align: center;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
  width: 13rem;
  background: linear-gradient(45deg,#c6ec9b,#88e4b9);
}
.top3 .item .pic {
  position: absolute;
  top: -2rem;
  left: 4.2rem;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin-right: 1rem;
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2), 0 1rem 1rem -0.5rem rgba(0, 0, 0, 0.3);
}
.top3 .item .pos {
  font-weight: 900;
  margin-bottom: 0.5rem;
}
.top3 .item .name {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}
.top3 .item .score:after {
  display: block;
  content: "pokemons";
}
.top3 .item.one {
  height: 21rem;
  padding-top: 3.5rem;
  width: 15rem;
  border: solid 4px #ffD700;
}
.top3 .item.one .picOne {
  background-image: url(https://pokemon.gameinfo.io/images/tools/badge_lv3.png);
  height: 5rem;
  left: 4.8rem;
  width: 5rem;
  background-color: gold;
  border: solid gold 4px;
}
.top3 .item:hover {
  transform: scale(1.05);
}

.list {
  padding-left: 2rem;
  margin: 0 auto;
}
.list .item {
  align-items: center;
  background: #3c6654;
  border-radius: 4rem;
  box-shadow: 0 0 4rem 0 rgb(0 0 0 / 10%), 0 1rem 2rem -1rem rgb(0 0 0 / 30%);
  cursor: pointer;
  display: flex;
  height: 3rem;
  position: relative;
  -webkit-transform-origin: left;
  transform-origin: left;
  transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
  transition: transform .2s ease-in-out,-webkit-transform .2s ease-in-out;
  color: white;
  width: 40%;
  margin: auto;
  margin-top: 30px;
}
.list .item .pos {
  font-weight: 900;
  position: absolute;
  left: -2rem;
  text-align: center;
  font-size: 1.25rem;
  width: 1.5rem;
  color: white;
  opacity: 0.6;
  transition: opacity 200ms ease-in-out;
}
.list .item .pic {
  background-position: 50%;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 1rem 0 rgb(0 0 0 / 20%), 0 1rem 1rem -0.5rem rgb(0 0 0 / 30%);
  height: 4rem;
  margin-right: 1rem;
  width: 4rem;
  background-color: #3C6537;
  display: flex;
  align-items: self-end;
  justify-content: center;
}
.list .item .name {
  flex-grow: 2;
  flex-basis: 10rem;
  font-size: 1.1rem;
}
.list .item .score {
  margin-right: 1.5rem;
}
.list .item .score:after {
  margin-right: 1rem;
  content: "pokemons";
}
.list .item:hover {
  transform: scale(1.05);
}
.list .item:hover .pos {
  opacity: 0.8;
}
.one .pos {
    margin-top: 15px;
    font-size: 3.5rem;
}
.two .pos {
    margin-top: 15px;
    font-size: 3.0rem;
}
.three .pos {
    margin-top: 15px;
    font-size: 2.5rem;
}
.picTwo{
  background-color: silver;
  border: solid silver 4px;
  background-image: url(https://pokemon.gameinfo.io/images/tools/badge_lv2.png);
}
.picThree{
  background-color: sandybrown;
  border : solid #F1AB70 4px;
  background-image: url(https://pokemon.gameinfo.io/images/tools/badge_lv1.png);
}
.two{
  border: solid silver 4px;
}
.three{
  border : solid #F1AB70 4px;
}
.one .score{
  margin-top:35px;
}
.pic p{
  font-weight: bold;
    font-size: 22px;
    text-align: center;
}


















body {
    background: linear-gradient(45deg,#C6EC9B,#88E4B9);
}

img {
  display: block;
  margin: auto;
  width: 100px;
}
ul {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: auto;
    list-style: none;
    padding:0;
}
li a {
    color: #255748;
    text-decoration: none;
    font-size: 30px;
}
li{
    color: #255748;
    text-decoration: none;
    font-size: 30px;
}
.filtersContainer {
    display: flex;
    flex-flow: column;
    width: 322px;
    align-items: center;
    position: absolute;
    top: 177px;
    left: 4%;
    gap: 10px;
}
button.filterButton {
    background: none;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    border:solid 4px #255748
}
button.filterButton:hover {
    background: #255748;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    border-radius: 20px;
    color: white;
}
p.filterTitle {
    font-size: 35px;
}
.selected{
  font-weight: bold;
}
#root{
  min-height: 100vh;
}
.labelStats{
  font-weight: bold;
  line-height: 28px;
}
.valueStats{
  font-weight: bold;
  color: #255748;
  background-color: white;
  padding: 10px;
  border-radius: 88px;
  min-width: 88px;
  display: block;
  height: 30px;
  line-height: 10px;
  text-align: center;
  float: right;
  margin-left: 10px;
}
.infoPkm{
  position: absolute;
  top: 0;
}
.infoNbCapture{
  position: absolute;
  left: -19px;
  background-color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  font-weight: bold;
  text-align: center;
}
.infoShiny{
    left: 90px;
    position: absolute;
    top: 105px;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
}
.stats{
    display: flex;
    gap: 30px;
    position: absolute;
    left: 4%;
}
.uniquePokemonContainer {
    background-position: 50%;
    background-repeat: no-repeat;
    background: rgba(37,87,72,.2);
    border-radius: 25%;
    -webkit-filter: drop-shadow(0 0 12px #000);
    filter: drop-shadow(0 0 12px black);
    padding: 15px;
}

.pokemonGlobalContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 50%;
  gap: 10px;
}
.inputPseudo{
  background-color: hsla(0,0%,100%,.9);
  border-radius: 25px;
  color: #255748;
  font-size: 40px;
  margin: 20px;
  text-align: center;
  width: 100%;
  border: black solid 4px;
}

.uploadPost{
  align-items: center;
    display: flex;
    justify-content: center;
}
.buttonPseudo{
  background-color: hsla(0,0%,100%,.9);
  border-radius: 25px;
  color: #255748;
  font-size: 25px;
  height: 50px;
  text-align: center;
  width: 50px;
  border: solid black 4px;
  position: absolute;
  right: 2%;
}
